<ion-header [translucent]="true">
  
  <ion-toolbar color="primary">
    
    <ion-icon slot="end" class="ion-padding"></ion-icon>
    <ion-buttons slot="end">
      

    </ion-buttons>
    <ion-title color="dark" >
      RegistrApp 
    </ion-title>
    <ion-text slot="center">
      
    </ion-text>
    
  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-text color="info" class="ion-text-center">
    <h1>Registrate </h1>
  </ion-text>
  <br>
  <br>
  <br>

   <form >
    <ion-item color="secondary">
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input color="dark" type="text"></ion-input>
    </ion-item>
    <br>
    <ion-item color="primary">
      <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input color="dark"  type="text"></ion-input>
    </ion-item>
    <br>
    <ion-item color="secondary">
      <ion-label position="floating">Confirmar Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input color="dark"  type="text"></ion-input>
    </ion-item>
    <br>
    <ion-item color="primary">
      <ion-label position="floating">Gmail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input color="dark" type="text"></ion-input>
    </ion-item>
    <br> 
    <br>
   
    <br>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Aceptar terminos</ion-label>
    </ion-item>
    <br>
    <ion-buttons slot="primary">
      <ion-button href="/loginpage" >
        
        <h3>Registrar</h3><ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   </form>

</ion-content>
