<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="abrirMenu()">
        <ion-icon name="apps"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title color="dark">
      RegistrApp
    </ion-title>
    <ion-text slot="center">

    </ion-text>

    <ion-icon name="search" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-text color="info" class="ion-text-center">
    <h1>Bienvenido A RegistrApp</h1>
    <p>{{username}}</p>
  </ion-text>
  <ion-text color="secondary" class="ion-text-center">
    <h4>RegistrApp es una app de registro y asistencia de alumnos y docentes.
    </h4>
    
  </ion-text>

  
</ion-content>