<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <div>
      <h1>Ingresa tu correo</h1>
    <p>Para recibir un link de ingreso</p>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-icon name="person-outline"></ion-icon>
      <ion-input type="email"></ion-input>
    </ion-item>

<a [routerLink]="['/loginpage']"> <ion-button class="ion-padding" color="light">Aceptar</ion-button></a>
</div>
</ion-content>
